.anime-card {
    overflow: auto;

}

.side-left {
    float: left;

}

.side-left img{
    width: 225px;
    height: 321px;
}

.side-right {
    float: right;
    max-width: 81%;
    /* right: 15px; */
}